.popupDate {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popupDate__inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 32%;
  bottom: 32%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px 1fr 1fr 1fr 1fr;
  margin: auto;
  border-radius: 20px;
  background: $blanc;
  padding: 20px;
  color: $noir;
}

.popupDate__days{
  grid-column: 1/8;
  grid-row: 2;
  display: flex;
}

.popupDate__days > div, .popupDate__date > div{
  width: 14.28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupDate__title{
  grid-row: 1;
  grid-column: 1/8;
  font-size: 20px;
}

.popupDate__date{
  grid-column: 1/8;
  display: flex;
}

.popupDate__date p{
  width: 50px;
  height: 50px;
  border : 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s, background 0.3s;

  &:hover{
    color: white !important;
    background: #0C1971 !important;
  }
}

.popupDate__date--1{
  grid-row: 3;
  justify-content: flex-end;
}

.popupDate__date--2{
  grid-row: 4;
}

.popupDate__date--3{
  grid-row: 5;
}

.popupDate__close{
  grid-row: 1;
  grid-column: 7;
}

.popupDate__close{
  cursor: pointer;
  border: 1px solid #0C1971;
  font-family: $antonio;
  transition: background-color 0.3s, color 0.3s;
  &:hover{
    background-color: #0C1971;
    color: #fff;
  }
}