.landingBody{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.landing__logo{
  height: 70px;
  margin-bottom: 30px;
  img{
    height: 100%;
  }
}

.landingMainTitle {
  font-size: 48px;
  font-family: $anton;
}

.in-content{
  position: absolute;
  top:0;
  width: 810px;
  display: flex;
  flex-direction: column;
  right: 0;
  align-items: center;
  margin-right: 4vw;
  .landingDate{
    margin: 50px 0 20px 0;
  }
  .todayOlympicsWrapper{
    width: 100%;
    margin: 0;
  }
  .OneSport{
    margin: 0;
  }
  .slider--wrapper{
    margin: 0;
  }
  .slider{
    margin-top: 20px;
  }
}

.landingSubTitle {
  margin-top: 40px;
  font-size: 26px;
  font-family: $roboto;
}

.landingDate{
  margin: 50px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
  }
}

.landingTodayOlympicsTitle{
  font-size: 23px;
  font-weight: bold;
}

.todayOlympicsWrapper{
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.seeMore{
  width: fit-content;
  margin: 0 auto;
  background-color: $rouge;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
}