.OneSport{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  >div{
    background-color: #2A3BAF;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    &:hover{
      background-color: #ED334E;
    }
  }
  img{
    max-width: 50px;
    max-height: 50px;
  }
}