.forreturn {
  height: 100%;
}

.popup {
  position: absolute;
  top: 8vh;
  left: 4vw;
  width: 500px;
  height: 950px;
  border-radius: 20px;
  background-color: $blanc;
  color: $noir;

  h4 {
    font-weight: bold;
    font-size: 20px;
  }
}

.popup__content {
  position: relative;
  width: 100%;
}

.popup__header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  position: fixed;
  width: 500px;
  background: #fff;
  border-radius: 20px 20px 0 0;
  button {
    border: none;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    font-family: $antonio;
    font-weight: bold;
    cursor: pointer;
  }
}

.popup__main {
  padding: 105px 30px 0 30px;
  height: 730px;
  overflow: scroll;
}

.popup__footer {
  display: flex;
  height: 120px;
  position: fixed;
  width: 500px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  border-top: 1px solid #d9d9d9;

  > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.popupFooter__accessibilites{
  display: flex;
}