body {
  background-color: #E1E9F4;
  /* REMOVE THIS */
}

.popup {
  position: absolute;
  top: 8vh;
  left: 4vw;
  width: 30vw;
  height: 84vh;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.Arrondissement {
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
  font-size: 20px;
}

.Arrondissement::after {
  content: "  >";
  cursor: pointer;
}

.Arrondissement::before {
  content: "<  ";
  cursor: pointer;
}

.currentOlympicWrapper {
  display: flex;
  margin-top: 50px;

}

.currentOlympic {
  margin-left: 30px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.currentOlympicSport {
  width: fit-content;
}

.currentOlympicDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
}

.buildingsSection {
  overflow-y: auto;
  height: 60%;
}

.buildingsHead {
  margin-top: 20px;
  font-weight: bold;
  margin-left: 30px;

}

.favoriteSportWrapper {
  margin-top: 15px;
  display: flex;

}

.favoriteSportIconAndTitleWrapper {
  width: 70px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.favoriteSportIcon {
  width: 70px;
  height: 41px;
}

.favoriteSportIconAndTitleWrapper span {
  margin-top: 10px;
  text-align: center;
  width: 70px;
}

.Gauge {
  width: 60%;
  height: 41px;
  background: linear-gradient(90deg, red 40%, white 40%, white 60%);
  margin-left: 30px;
}

.GaugeValue {
  margin-right: 20px;
}

.GaugeValueWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 41px;
  font-weight: bold;
}

.otherSportsHead {
  margin-left: 30px;
  margin-top: 25px;
  font-weight: bold;
}

.filtersSection {
  width: 100%;
  background-color: rgb(169, 211, 243);
  height: 16vh;
  overflow-y: hidden;
}

.filtersSection h3 {
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.filtersSectionWrapper {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70%;
}

.accesibilityFilters {
  width: 40%;
  height: auto;
}

.accesibilityFilters h4 {
  text-decoration: underline;
  text-align: center;
}

.typeOfSportsFilters {
  width: 40%;
  height: auto;
}

.accesibilityFiltersWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;

}

.accesibilityFiltersWrapper div {
  text-align: center;
}

.typesOfSports {
  margin-top: 15px;
}

.typesOfSports button {
  width: 100px;
  border: none;
  margin-left: 10px;
}

.typeOfSportsFilters h4 {
  text-decoration: underline;
  text-align: center;
}

.typesOfSportsFirstWrapper {
  width: 100%;
  display: flex;
}

.typesOfSportsSecondWrapper {
  width: 100%;
  display: flex;
  margin-top: 20px;
}