body {
  background-color: #E1E9F4;  /* REMOVE THIS */
}

.popup {
  position: absolute;
  top: 8vh;
  left: 4vw;
  width: 30vw;
  height: 84vh;
  border-radius: 10px;
  background-color: white;
}

.Arrondissement {
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
  font-size: 20px;
}

.Arrondissement::after{
  content: "  >";
  cursor: pointer;
}

.Arrondissement::before{
  content: "<  ";
  cursor: pointer;
}

.currentOlympicWrapper{
  display: flex;
  margin-top: 50px;

}

.currentOlympic {
  margin-left: 30px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.currentOlympicSport {
  width: fit-content;
}

.currentOlympicDescription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4%;
}

.buildingsHead{
  margin-top: 20px;
  font-weight: bold;
  margin-left: 30px;

}

.favoriteSportWrapper{
  margin-top: 15px;
  display: flex;

}

.favoriteSportIconAndTitleWrapper{
  width: fit-content;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.favoriteSportIconAndTitleWrapper span{
  margin-top: 10px;
}

.Gauge {
  width: 60%;
  height: 41px;
  background:  linear-gradient(90deg, red 40%,white 40%,white 60%);
  margin-left: 30px;
}

.GaugeValueWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 41px;
  font-weight: bold;
}