
.forreturn{
  height:100%;
}

.popup {
  position: absolute;
  top: 8vh;
  left: 4vw;
  width: 30vw;
  height: 84vh;
  border-radius: 20 px;
  background-color: white;
  overflow: hidden;
  border: 1px solid black;
}

