@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Colors
*/
/*
Fonts
*/
@font-face {
  font-family: "Antonio";
  src: url("../assets/fonts/antonio.regular.ttf");
}
@font-face {
  font-family: "Antonio";
  src: url("../assets/fonts/antonio.light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Antonio";
  src: url("../assets/fonts/antonio.bold.ttf");
  font-weight: bold;
}
body {
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  font-family: "Antonio";
  background-color: #0C1971;
  font-size: 16px;
}

.forreturn {
  height: 100%;
}

.popup {
  position: absolute;
  top: 8vh;
  left: 4vw;
  width: 500px;
  height: 950px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
}
.popup h4 {
  font-weight: bold;
  font-size: 20px;
}

.popup__content {
  position: relative;
  width: 100%;
}

.popup__header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  position: fixed;
  width: 500px;
  background: #fff;
  border-radius: 20px 20px 0 0;
}
.popup__header button {
  border: none;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  font-family: "Antonio";
  font-weight: bold;
  cursor: pointer;
}

.popup__main {
  padding: 105px 30px 0 30px;
  height: 730px;
  overflow: scroll;
}

.popup__footer {
  display: flex;
  height: 120px;
  position: fixed;
  width: 500px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  border-top: 1px solid #d9d9d9;
}
.popup__footer > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popupFooter__accessibilites {
  display: flex;
}

.landingBody {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.landingMainTitle {
  font-size: 48px;
  font-family: "Anton";
}

.landingSubTitle {
  margin-top: 40px;
  font-size: 26px;
}

.landingDate {
  margin: 50px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingDate p {
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

.landingTodayOlympicsTitle {
  font-size: 23px;
  font-weight: bold;
}

.todayOlympicsWrapper {
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.seeMore {
  width: fit-content;
  margin: 0 auto;
  background-color: #ED334E;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
}

.popupDate {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupDate__inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px 1fr 1fr 1fr 1fr;
  margin: auto;
  border-radius: 20px;
  background: #ffffff;
  padding: 20px;
  color: #000000;
}

.popupDate__days {
  grid-column: 1/8;
  grid-row: 2;
  display: flex;
}

.popupDate__days > div, .popupDate__date > div {
  width: 14.28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupDate__date {
  grid-column: 1/8;
  display: flex;
}

.popupDate__date p {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popupDate__date--1 {
  grid-row: 3;
  justify-content: flex-end;
}

.popupDate__date--2 {
  grid-row: 4;
}

.popupDate__date--3 {
  grid-row: 5;
}

.popupDate__close {
  grid-row: 1;
  grid-column: 7;
}

.OneSport {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.OneSport > div {
  background-color: #FFF;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
}
.OneSport img {
  max-width: 50px;
  max-height: 50px;
}

.sportSingle {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.sportSingle__picName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
}
.sportSingle__picName img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}
.sportSingle__picName h5 {
  text-align: center;
}

.sportSingle__gauge {
  width: 60%;
}
.sportSingle__gauge div {
  width: 50%;
  background: #ED334E;
  height: 20px;
  border-radius: 20px;
}

.sportSingle__value {
  font-weight: bold;
  width: 50px;
  text-align: center;
}

.map__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100vh;
}
.map__wrapper h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.map__content {
  width: 800px;
}

.map__svg {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.adress {
  height: 830px;
  padding: 0 30px;
  overflow: scroll;
}

.adress__back {
  margin: 30px 0;
  font-size: 18px;
  cursor: pointer;
}

.adress__sport {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.adress__sport img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}

.adress__adress > p {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}

.adressSingle {
  margin: 20px 0;
}
.adressSingle p {
  line-height: 22px;
}

/*# sourceMappingURL=style.css.map */
